



@media (min-width: 1024px) {
    .card-with-icon.background-linear-white-rtl {
      background-size: cover !important;
      background-repeat: no-repeat !important;
      background-position: top center;
      position: relative;
      z-index: 1; } }
  @media (min-width: 1024px) and (min-width: 576px) {
    .card-with-icon.background-linear-white-rtl:after {
      content: '';
      position: absolute;
      inset: 0;
      background: linear-gradient(-90deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0) 74.24%), linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)); }
    .card-with-icon.background-linear-white-rtl.linearBg-invert:after {
      background: linear-gradient(270deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0) 74.24%), linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)); } }
  .card-with-icon__shorttitle {
    font-size: 20px;
    font-weight: bold;
    margin: 0; }


@media (min-width: 768px){
    .steps-carousel .owl-carousel .owl-item.center .steps-carousel--content {
        left: auto!important;
        right: 50%!important;   
    }
}

button.owl-next img {
    transform: rotate(180deg);
}


button.owl-prev img {
    transform: rotate(-180deg);
}